@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Default background color */
    --background: #F9F7F2;
    --foreground: #4A0E2E;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}